<h1 id="tableLabel">Мои Туры</h1>

<p *ngIf="!loaded"><em>Загрузка...</em></p>

<mat-tab-group>
  <mat-tab label="Предстоящие туры">
    <p *ngIf="!loaded"><em>Загрузка...</em></p>
    <div *ngIf="loaded && incomingTours?.length == 0">
      <p>Ничего не найдено</p>
    </div>

    <div *ngIf="loaded && incomingTours?.length != 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Дата</td>
            <td>Лига</td>
            <td>Статус тура</td>
            <td>Статус игрока</td>
          </tr>
        </thead>
        <tr *ngFor="let t of incomingTours">
          <td>{{t.date}}</td>
          <td>{{leagueIdNameMap[t.leagueId]}}</td>
          <td [ngSwitch]="t.tourStatus">
            <ng-template ngSwitchCase="1">
              Регистрация еще не открыта
            </ng-template>
            <ng-template ngSwitchCase="2">
              Регистрация открыта
            </ng-template>
            <ng-template ngSwitchCase="3">
              Регистрация закрыта
            </ng-template>
            <ng-template ngSwitchCase="3">
              Идет игра
            </ng-template>
          </td>
          <td>
            <div *ngIf="t.tourStatus == 2 && t.playerRegistered">
              <button class="btn btn-sm btn-danger" (click)="registerOnTour(t)">
                Отменить регистрацию
              </button>
            </div>
            <div *ngIf="t.tourStatus == 2 && !t.playerRegistered">
              <button class="btn btn-sm btn-success" (click)="registerOnTour(t)">
                Зарегистрироваться
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="История">
    <p *ngIf="!loaded"><em>Загрузка...</em></p>
    <div *ngIf="loaded && allTours?.length == 0">
      <p>Ничего не найдено</p>
    </div>

    <div *ngIf="loaded && allTours?.length != 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Дата</td>
            <td>Лига</td>
            <td>Хозяева</td>
            <td>Гости</td>
          </tr>
        </thead>
        <tr *ngFor="let t of allTours">
          <td>{{t.date}}</td>
          <td>{{leagueIdNameMap[t.leagueId]}}</td>
          <td>{{t.homeCount}}</td>
          <td>{{t.guestCount}}</td>
        </tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
