@{
    ViewData["Title"] = "Players administration page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Add a player</title>
</head>
<body>
<div class="text-center">
    <h3>Player creation form</h3>
    <p>Please insert data:</p>
    <form method="post">
        <table>
            <tr>
                <td>First name:</td>
                <td><input type="text" name="FirstName" /> </td>
            </tr>
            <tr>
                <td>Second name:</td>
                <td><input type="text" name="LastName" /></td>
            </tr>
            <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>