<h1 id="tableLabel">Мои лиги</h1>

<p *ngIf="!leagues"><em>Загрузка...</em></p>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Название</td>
      <td>Описание</td>
      <td>Тип</td>
    </tr>
  </thead>
  <tr *ngFor="let l of leagues">
    <ng-template [ngIf]="league?.id != l.id" [ngIfElse]="edit">
      <td>{{l?.name}}</td>
      <td>{{l?.description}}</td>
      <td>{{l?.leagueType?.name}}</td>
      <ng-template [ngIf]="isAuthenticated">
        <td [ngSwitch]="l.playerLeagueJoinStatus">
          <ng-template ngSwitchCase="0">
            <button class="btn btn-sm btn-success" (click)="joinLeague(l)">
              Join
            </button>
          </ng-template>
          <ng-template ngSwitchCase="1">
            <button class="btn btn-sm btn-danger" (click)="joinLeague(l)">
              Leave
            </button>
          </ng-template>
          <ng-template ngSwitchCase="2">
            <button class="btn btn-sm btn-warning" (click)="joinLeague(l)">
              Waiting...
            </button>
          </ng-template>
        </td>
      </ng-template>
    </ng-template>
  </tr>
</table>
